@model ICollection<WebAppLuisMendozaSamuel.Models.Entidades.Compra>
@{
    ViewData["Title"] = "Inicio";
}

<h2 class="head center black-text">Lista de compras</h2>


<h5><a asp-action="Create"><i class="material-icons">add_circle</i> Agregar una nueva compra</a></h5>
<h5><a href="http://desktop-tar0vrd/ReportServer/Pages/ReportViewer.aspx?%2fReporteVentas%2fReporte1&rs:Command=Render"><i class="material-icons">assignment</i> Ver reportes de compras</a></h5>

<table class="table table-hover responsive-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Unidades vendidas</th>
            <th>Precio total</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.idCompra</td>
                <td>@item.Cliente.nombre</td>
                <td>@item.Producto.nombre</td>
                <td>@item.cantidad</td>
                <td>@item.precioTotal</td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.idCompra }) | @Html.ActionLink("Eliminar", "Delete", new { id = item.idCompra })
                </td>
            </tr>
        }
    </tbody>
</table>