@model ICollection<WebAppLuisMendozaSamuel.Models.Entidades.Producto>
@{
    ViewData["Title"] = "Index";
}

<h2 class="header center black-text">Lista de productos</h2>

<h5><a asp-action="Create"><i class="material-icons">add_circle</i> Agregar un nuevo producto</a></h5>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Producto</th>
            <th>Stock</th>
            <th>Precio Unitario</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.idProducto</td>
            <td>@item.nombre</td>
            <td>@item.stock</td>
            <td>@item.precioUnitario</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idProducto })|
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idProducto })|
                @Html.ActionLink("Ver detalles", "Details", new { id = item.idProducto })|
            </td>
        </tr>
        }
    </tbody>
</table>

