@model WebAppLuisMendozaSamuel.Models.Entidades.Intento

@{
    ViewData["Title"] = "Resultado";
}


<h2>Resultados</h2>

<div>
    <h4>@ViewBag.usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tiempo de inicio
        </dt>
        <dd>
            @ViewBag.start
        </dd>
        <dt>
            Tiempo de finalización
        </dt>
        <dd>
            @ViewBag.stop
        </dd>
        <dt>
            Tiempo: 
        </dt>
        <dd>
            @Model.Tiempo
        </dd>
        <dt>
            Respuesta correcta
        </dt>
        <dd>
            @ViewBag.RespuestaCorrecta
        </dd>
        <dt>
            Respuesta del usuario
        </dt>
        <dd>
            @ViewBag.RespuestaAlumno
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

